.table-container {
    display: flex;
}

th, td {
    padding: 10px;
    text-align: center;
}

th {
    border-top: 1px solid hsl(0, 0%, 0%);
    border-bottom: 1px solid hsl(0, 0%, 0%);
}

td {
    border-bottom: 0.5px solid hsl(0, 0%, 50%);
}

@media (min-width: 1102px) {
.table-container {
    justify-content: center;
    }
}